@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

.footer-flex-direction-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*-----------header--------------*/

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky; 
    top: 0;         
    left: 0;
    width: 100%;    
    background-color: white;
    z-index: 1000; 
}

.hostinger-icon{
    width: 147px; 
    height: 80px;
}

.hostinger-header-content-left{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.hostinger-header-content-right{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.hostinger-header-content__nav{
    display: flex;
    gap: 24px;
    font-size: 16px;
}

.hostinger-header-content-right__myaccount{
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid #1d1e20;
    cursor: pointer;
    padding: 11px 15px;
    font-weight: 600;
}

.hostinger-header-content-right__languages{
    font-weight: 600;
}

.hostinger-header-content-right__flag{
    width: 32px;
    height: 20px;
}

.hostinger-header-content-right__menu-icon{
    display: none;
    width: 16px;
    height: 16px;
}

@media screen and (max-width:1140px){
    .hostinger-header-content-right{
        display: none;
    }
    .hostinger-header-content__nav{
        display: none;
    }
    .hostinger-header-content-right__menu-icon{
        display: flex;
    }
}

/*----------------main---------------*/

/*---------------section A----------*/
.hostinger-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    margin: 0px 63px;
}

.hostinger-main-container__side{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.hostinger-main-container__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #1d1e20;
}

.hostinger-main-container__sentence{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.hostinger-header-content__main-image{
    width: 880px; 
    height: 577px;
}

.hostinger-main-container__main_list{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 25px;
    gap: 5px;
}

.hostinger-main-container__sentence--discount{
    color: #673de6;
}

.hostinger-main-container_price-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hostinger-main-container___left-button{
    background-color: #673de6;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 48px;
    font-size: 16px;
    font-weight: 600;
    width: 186px;
    height: 48px;
}


.hostinger-main-container__warranty{
    font-weight: 300;
    font-size: 16px;
}

@media screen and (max-width: 1025px){
    .hostinger-main-container{
        flex-direction: column;
    }
}
@media screen and (max-width:768px){
    .hostinger-main-container__title{
        font-size: 24px;
    }
    .hostinger-header-content__main-image{
        width: 508px;
        height: 333px;
    }
    .hostinger-main-container___left-button{
        width: 508px;
        height: 48px;
    }

}
/*----------section b-------*/
.section-background-colors{
    background-color: #1f1346;
    color: #ffffff;
    padding-bottom: 80px;
    padding-top: 80px;
}

.titulo{
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
}

.subtitulo{
    font-size: 16px;
    line-height: 24px;
}

.encabezado{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0px 40px;
    margin: 0px 196px 48px;
}


.grupoCajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cajasContenido{
    background-color:#2f1c6a;
    width: 360px;
    height: 256px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.subtituloBox{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
}

.textoBox{
    font-size: 16px;
}

@media screen and (max-width: 1025px){
    .grupoCajas{
        flex-direction: column;
    }
    .cajasContenido{
        width: 688px;
        height: 208px;
    }
}
/*-----------------------------*/

/*----------footer-----------*/

.hostinger-footer-section{
    background-color: #f4f5ff;
    padding: 0px 40px;
    margin: 0 196px;
    min-width: 100vh;
}

.hostinger-footer-section__credit-cards{
    display: flex;
    gap: 8px;
    align-items: center;
}

.hostinger-footer-section__and-more{
    font-size: 14px;
    color: #673de6;
}

.credit-card-sizing{
    width: 60px; 
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d5dfff;
}

.hostinger-footer-section__service-terms{
    color: #1d1e27;
    font-size: 14px;
    text-decoration: none;
    gap: 15px;
    display: flex;
    align-items: center;
}
.hostinger-footer-section__line{
    border: none;       
    height: 1px;           
    background-color: #d5dfff; 
    margin-top: 20px;  
}

.hostinger-footer-section__copyright{
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding: 24px 0;
    font-size: 14px;
    color: #241e27;
}

@media screen and (max-width:1025px) {
    .footer-flex-direction-row{
        flex-direction: column-reverse;
    }
    .hostinger-footer-section__service-terms{
        margin-bottom: 24px;
    }
    .hostinger-footer-section__copyright{
        flex-direction: column;
        gap: 10px;
    }
}
