@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

.footer-flex-direction-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*-----------header--------------*/

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed; 
    top: 0;         
    left: 0;
    width: 100%;    
    background-color: white;
    padding: 10px;
    z-index: 1000; 
}

.hostinger-header-content-left{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.hostinger-header-content-right{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.hostinger-header-content__nav{
    display: flex;
    gap: 24px;
    font-size: 16px;
}

.hostinger-header-content-right__myaccount{
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid #1d1e20;
    cursor: pointer;
    padding: 11px 15px;
    font-weight: 600;
}

.hostinger-header-content-right__languages{
    font-weight: 600;
}

.hostinger-header-content-right__flag{
    width: 32px;
    height: 20px;
}

/*----------------main---------------*/

/*---------------section A----------*/
.hostinger-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    padding: 20px;
}

.hostinger-main-container__side{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 80px
}

.hostinger-main-container__title{
    font-weight: 700;
    font-size: 36px;
    color: #1d1e20;
}

.hostinger-main-container__sentence{
    font-weight: 600;
    font-size: 20px;
}

.hostinger-main-container__main_list{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 25px;
    gap: 5px;
}

.hostinger-main-container__sentence--discount{
    color: #673de6;
}

.hostinger-main-container_price-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hostinger-main-container___buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: none;
    font-size: 15px;
}

.hostinger-main-container___left-button{
    background-color: #673de6;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 48px;
    font-size: 16px;
    font-weight: 600;
}


.hostinger-main-container__warranty{
    font-weight: 300;
    font-size: 16px;
}

/*----------section b-------*/
.section-background-colors{
    background-color: #1f1346;
    color: #ffffff;
}

.titulo{
    font-weight: 700;
    font-size: 40px;
}

.subtitulo{
    font-size: 18px;
}

.encabezado{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
}


.grupoCajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cajasContenido{
    background-color:#2f1c6a;
    width: 360px;
    height: 280px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.subtituloBox{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}

.textoBox{
    font-size: 20px;
}


/*----------footer-----------*/

footer{
    background-color: #f4f5ff;
    padding: 20px 80px;

}

.hostinger-footer__section-credit-cards{
    display: flex;
    gap: 8px;
    align-items: center;
}

.credit-card-sizing{
    width: 60px; 
    height: 40px;
    border-radius: 5px;
    border: 2px solid #d5dfff;
}

.hostinger-footer-section__service-terms{
    color: #1d1e27;
    font-size: 14px;
    text-decoration: none;
    gap: 15px;
    display: flex;
    align-items: center;
}
